name: local testing
on: [push]

jobs:
  custom_test:
    runs-on: ubuntu-latest
    name: We test it locally with act
    steps:
      - name: Run CMD
        uses: cicd-toolkit/action-helm@master

      - name: Check kubectl version
        run: kubectl version --client=true
      - name: Check helm version
        run: helm version
      - name: Check ct version
        run: ct version
      - name: Check helm-docs version
        run: helm-docs --version
      - name: Check yq version
        run: yq --version
      - name: Check jq version
        run: jq --version
